.points-container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: 100%;
	height: 100%;
	column-gap:2em;
}

.block-points-paragraph{
	height:100%;
	width:50%;
	border:4px solid #00a2ff;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:4em;
	background-color:#26c8ff;
}

.points-paragraph{
	font-size:3rem;
	color:whitesmoke;
}

.points-button-container{
	display:flex;
	justify-content:center;
	align-items:center;
	width: 50%;
	height: 50%;
	column-gap:1em;
}

.points-button{
	display:flex;
	border:4px solid #00a2ff;
	background:#26c8ff;
	padding:1em;
	border-radius:100%;
	height:100%;
	width:20%;
}

.points-button-img{
	object-fit: contain;
	height:100%;
	width:100%;
}

.points-output{
	color:#09b2ff;
	font-size:4rem;
	background:whitesmoke;
	padding:.5em 1em;
	border-radius:1em;
	border:4px solid #00a2ff;
}