.Header{
	position: fixed;
	margin: auto;
	bottom:5vh;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items:center;
	width: 100%;
	height: 30vh;
	min-height: 800px;
	border:none;
	background-color:white;
	border-top:8px solid whitesmoke;
	border-radius: 5em;
}

.Header.hidden > *:not(.btn-hidden){
	display: none;
}

.Header.hidden{
	top:95vh;
	border:none;
	height: 0;
	min-height: 0;
}

.btn-hidden{
	outline: none;
	background-color:white;
	border:none;
	border-top: 5px solid whitesmoke;
	border-radius: 50%;
	width: 3em;
	height: auto;
	font-size: 3em;
}

.btn-hidden.active{
	bottom:40vh;
}

.img-arrow{
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
	transition: transform .5s;
}

.img-arrow.active{
	object-fit: contain;
	transform: rotate(90deg);
}

.btn-play{
	background:none;
	border:none;
	font-size:4rem;
	font-weight: 700;
	border-radius: 10px;
	width:100%;
	height:33.3%;
}

@media screen and (min-width:1024px){
	.Header{
		padding: 0 2em;
		top:0;
		bottom:87vh;
		border:none;
		border-bottom:1px solid whitesmoke;
		order:0;
		flex-direction: row;
		width: 90%;
		height: 10%;
		column-gap: 0.5em;
		transition: bottom 0.8s;
	}

	.Header.hidden{
		top:0;
		bottom:100vh;
	}

	.btn-hidden{
		bottom:90%;
		width: 2em;
		height: 2em;
	}

	.btn-hidden.active{
		bottom: 79%;
	}

	.img-arrow{
		transform: rotate(90deg);
	}

	.img-arrow.active{
		transform:rotate(-90deg);
	}

	.btn-play{
		width: 40%;
	}
}