@keyframes blink{
	from{
		opacity: 0.5;
	}

	to{
		opacity: 1;
	}
}


.start_menu_block{
	display: flex;
	height:100%;
	width:100%;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.start_menu_anim{
	margin:auto 0;
	height: 30%;
	width: 100%;
}

.start_menu_block_text{
	height:30%;
	width: 100%;
}

.start_menu_text{
	font-weight: bold;
	text-align: center;
	color:whitesmoke;
	font-size:8rem;
	animation: blink 1s infinite alternate;
	text-shadow:0 0 15px rgb(0,0,0);
	letter-spacing:10px;
}